* {
  box-sizing: border-box;
}

h1,
h2 {
  margin-bottom: 1rem;

  font-family: 'Great Vibes', fantasy;
  font-weight: 400;
  font-size: 3rem;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: grey;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 64px;
}

nav {
  width: 10rem;
  padding: 1rem;
}

nav a {
  display: block;
  color: black;
  margin: 1rem;
  border-bottom: 1px solid transparent;

  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  border-bottom: 1px solid #ddd;
}

.nav-btn {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;
  background-size: contain;
  cursor: pointer;
}

.nav-btn:focus {
  outline: none;
}
