
.intro {
  padding-top: 2rem;
  padding-bottom: 2rem;

  text-align: center;
}

.intro p {
  font-family: 'Roboto';
  font-style: bold;
  font-size: 36px;
  font-weight: normal;
}

h1 {
  margin-bottom: 1rem;

  font-family: 'Roboto';
  font-style: italic;
  font-size: 36px;
  font-weight: 700;
}

/* Uvodní komponenta - chci jídelníček */
.ukazka-jidelnicku,
img {
  position: absolute;
  width: 347.44px;
  height: 508px;

}

.ukazka p {
  padding-top: 2rem;
  padding-bottom: 2rem;

}


section {
  padding-top: 2rem;
}

