* {
  box-sizing: border-box;
}

.banner {
  padding-top: 0;
  background-color: aquamarine;
  background-size: cover;
  background-position: top center;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: grey;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 64px;
}

nav {
  width: 10rem;
  padding: 1rem;
}

nav a {
  display: block;
  color: black;
  margin: 1rem;
  border-bottom: 1px solid transparent;

  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  border-bottom: 1px solid #ddd;
}
